{{ form_start(form) }}
<div class="row">
	<div class="col md-6">{{form_row(form.Name)}}</div>
	<div class="col md-6">{{form_row(form.MagicType)}}</div>
	{# <div class="col md-4">{{form_row(form.Noble_Phantasme)}}</div> #}
</div>
{# {{ form_rest(form) }} #}
<div class="text-right">
	<button class="btn btn-primary">Enregistrer</button>
</div>


{{ form_end(form) }}
